"*":
  Hydrogen:
    kernelspec: "{\"kernelspecs\":{\"python3\":{\"spec\":{\"argv\":[\"/home/mark/.pythonvirtualenvs/py35/bin/python\",\"-m\",\"ipykernel\",\"-f\",\"{connection_file}\"],\"language\":\"python\",\"env\":{},\"display_name\":\"Python 3\"},\"resource_dir\":\"/home/mark/.pythonvirtualenvs/py35/lib/python3.5/site-packages/ipykernel/resources\"},\"ir\":{\"spec\":{\"argv\":[\"/usr/lib64/MRO-3.2.3/R-3.2.3/lib/R/bin/R\",\"--slave\",\"-e\",\"IRkernel::main()\",\"--args\",\"{connection_file}\"],\"language\":\"R\",\"env\":{},\"display_name\":\"R\"},\"resource_dir\":\"/home/mark/.local/share/jupyter/kernels/ir\"}}}"
  "atom-beautify":
    _analyticsUserId: "f0aae92e-44dd-44a6-833b-4dafbd3678c8"
    css_align_assignments: true
  core:
    disabledPackages: [
      "language-gfm"
    ]
    packagesWithKeymapsDisabled: [
      "ctrl-dir-scroll"
    ]
    projectHome: "~"
    themes: [
      "atom-dark-ui"
      "zenburn"
    ]
  "ctrl-dir-scroll": {}
  "disable-keybindings":
    bundledPackages: [
      "encoding-selector"
    ]
    communityPackages: [
      "quick-query"
      "ctrl-dir-scroll"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Source Code Pro"
    invisibles: {}
    lineHeight: 1.2
    showIndentGuide: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "fc4b8bfe-c396-dcde-78a6-fe7bab3e5b72"
  linter: {}
  "markdown-preview": {}
  metrics:
    userId: "1692b15ee7ecac8c17d5fd444f86c0f090606ab2"
  "terminal-plus":
    core:
      shell: "/usr/bin/byobu"
      shellArguments: "-R"
      workingDirectory: "Active File"
    style:
      theme: "novel"
    toggles:
      autoClose: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".bibtex.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".console.python.text":
  editor:
    softWrap: false
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 4
".latex.rd.tex.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".latex.tex.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".md.text":
  editor:
    softWrapAtPreferredLineLength: true
".python.regexp.source":
  editor:
    softWrapHangingIndent: 4
".python.source":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 4
  whitespace:
    removeTrailingWhitespace: true
".python.text.traceback":
  editor:
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 4
".r.source":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".sas.source":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".source.sql":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
