# '.platform-win32 .atom-text-editor, .platform-linux .atom-text-editor':
'.platform-win32, .platform-linux':
    'alt-m': 'git-plus:menu'
    'ctrl-shift-f': 'project-find:show'

'atom-workspace atom-text-editor':
    'ctrl-f': 'find-and-replace:find-next'
    'ctrl-alt-f': 'find-and-replace:replace-next'
    'alt-k': 'core:move-down'
    'ctrl-alt-k': 'core:page-down'
    'alt-i': 'core:move-up'
    'ctrl-alt-i': 'core:page-up'
    'alt-n': 'core:move-to-top'
    'shift-alt-n': 'core:move-to-bottom'
    'alt-j': 'core:move-left'
    'alt-l': 'core:move-right'
    'alt-f': 'core:delete'
    'shift-alt-u': 'editor:move-to-beginning-of-previous-paragraph'
    'shift-alt-o': 'editor:move-to-beginning-of-next-paragraph'
    'alt-e': 'editor:delete-to-beginning-of-word'
    'alt-r': 'editor:delete-to-end-of-word'
    'alt-h': 'editor:move-to-first-character-of-line'
    'shift-alt-h': 'editor:move-to-end-of-screen-line'
    'alt-d': 'core:backspace'
    'ctrl-g': 'core:cancel'
    'alt-g': 'editor:cut-to-end-of-line'
    'alt-3': 'pane:close'
    'alt-4': 'pane:split-up'
    'alt-s': 'window:focus-next-pane'
    'ctrl-alt-4': 'pane:split-right'
    'alt-a': 'command-palette:toggle'

'atom-workspace atom-text-editor:not(.mini)':
    'alt-u': 'editor:move-to-beginning-of-word'
    'alt-o': 'editor:move-to-end-of-word'
    'alt-=': 'editor:duplicate-lines'
    'ctrl-t': 'editor:move-line-up'
    'shift-ctrl-t': 'editor:move-line-down'
    'alt-;': 'editor:toggle-line-comments'
    'alt-q': 'autoflow:reflow-selection'
    'alt-6': 'editor:join-lines'
    'ctrl-x': 'core:cut'
    'ctrl-v': 'core:paste'
    'ctrl-c': 'core:copy'
    # 'ctrl-g': 'emacs:cancel'
    # 'alt-space': 'emacs:set-mark'
    'ctrl-b': 'bookmarks:toggle-bookmark'
    'ctrl-B': 'bookmarks:view-all'
    'alt-w': 'emacs:kill-region-or-backward-word'
    # 'alt-v': 'emacs:yank'
    'ctrl-f': 'emacs:isearch'
    'ctrl-alt-f': 'emacs:backward-isearch'
    'ctrl-z': 'core:undo'
    'ctrl-w': 'core:close'
    'ctrl-s': 'core:save'
    'alt-/': 'autocomplete:toggle'
    'alt-I': 'core:select-up'
    'alt-K': 'core:select-down'
    'alt-J': 'editor:select-to-previous-word-boundary'
    'alt-L': 'editor:select-to-next-word-boundary'
    'alt-b': 'fuzzy-finder:toggle-buffer-finder'
    'ctrl-n': 'application:new-file'
    'ctrl-o': 'application:open'
    'ctrl-q': 'application:quit'
    'ctrl-g': 'core:cancel'
    # Markdown-Writer
    # "shift-ctrl-K": "markdown-writer:insert-link"
    # "shift-ctrl-I": "markdown-writer:insert-image"
    # "ctrl-i":       "markdown-writer:toggle-italic-text"
    # "ctrl-b":       "markdown-writer:toggle-bold-text"
    # "ctrl-'":       "markdown-writer:toggle-code-text"
    # "ctrl-h":       "markdown-writer:toggle-strikethrough-text"
    "ctrl-1":       "markdown-writer:toggle-h1"
    "ctrl-2":       "markdown-writer:toggle-h2"
    "ctrl-3":       "markdown-writer:toggle-h3"
    "ctrl-4":       "markdown-writer:toggle-h4"
    "ctrl-5":       "markdown-writer:toggle-h5"

# Disable Enter key for confirming an autocomplete suggestion
'atom-text-editor:not(mini).autocomplete.active':
    'enter': 'editor:newline'

'body':
    'alt-k': 'core:move-down'
    'alt-i': 'core:move-up'

'atom-workspace atom-panel':
    'ctrl-g': 'tool-panel:unfocus'
    'ctrl-z': 'core:undo'
    'alt-k': 'core:move-down'
    'alt-i': 'core:move-up'
    'alt-s': 'core:focus-next'
    'ctrl-f': 'find-and-replace:find-next'
    'ctrl-r': 'find-and-replace:replace-next'
