# '.platform-win32 .atom-text-editor, .platform-linux .atom-text-editor':
'.platform-win32, .platform-linux':
    'alt-m': 'git-plus:menu'
    'ctrl-shift-f': 'project-find:show'

'atom-workspace atom-text-editor':
    'ctrl-f ctrl-n': 'find-and-replace:find-next'
    'ctrl-f ctrl-p': 'find-and-replace:find-previous'
    'ctrl-f ctrl-r': 'find-and-replace:replace-next'
    'ctrl-f ctrl-h': 'find-and-replace:replace-all'
    'alt-k': 'core:move-down'
    'ctrl-alt-k': 'core:page-down'
    'alt-i': 'core:move-up'
    'ctrl-alt-i': 'core:page-up'
    'alt-n': 'core:move-to-top'
    'shift-alt-n': 'core:move-to-bottom'
    'alt-j': 'core:move-left'
    'alt-l': 'core:move-right'
    'alt-d': 'core:backspace'
    'alt-f': 'core:delete'
    'ctrl-alt-u': 'editor:move-to-beginning-of-previous-paragraph'
    'ctrl-alt-o': 'editor:move-to-beginning-of-next-paragraph'
    'alt-e': 'editor:delete-to-beginning-of-word'
    'alt-r': 'editor:delete-to-end-of-word'
    'alt-h': 'editor:move-to-first-character-of-line'
    'shift-alt-h': 'editor:move-to-end-of-screen-line'
    'ctrl-g': 'core:cancel'
    'alt-g': 'editor:cut-to-end-of-line'
    'alt-3': 'tabs:close-tab'
    'alt-4': 'pane:split-up'
    'alt-s': 'window:focus-next-pane'
    'ctrl-alt-4': 'pane:split-right'
    'alt-a': 'command-palette:toggle'
    'alt-[': 'select-rectangle:select'
    'alt-]': 'select-rectangle:clear'
    'alt-}': 'select-rectangle:open'
    'ctrl-alt-i': 'advanced-open-file:move-cursor-up'
    'ctrl-alt-k': 'advanced-open-file:move-cursor-down'
    'ctrl-k ctrl-t': 'quick-query:toggle-browser'
    'ctrl-k ctrl-n': 'quick-query:new-editor'
    'ctrl-k ctrl-c': 'quick-query:new-connection'
    'ctrl-k ctrl-e': 'quick-query:run'
    'alt-q': 'autoflow:reflow-selection'

'atom-workspace atom-text-editor:not(.mini)':
    'alt-u': 'editor:move-to-beginning-of-word'
    'alt-o': 'editor:move-to-end-of-word'
    'alt-=': 'editor:duplicate-lines'
    'ctrl-t': 'editor:move-line-up'
    'shift-ctrl-t': 'editor:move-line-down'
    'alt-t': 'editor:transpose'
    'alt-;': 'editor:toggle-line-comments'
    'alt-6': 'editor:join-lines'
    'ctrl-x': 'core:cut'
    'ctrl-v': 'core:paste'
    'ctrl-c': 'core:copy'
    'ctrl-b': 'bookmarks:toggle-bookmark'
    'ctrl-shift-b': 'bookmarks:view-all'
    'ctrl-z': 'core:undo'
    'ctrl-w': 'core:close'
    'alt-/': 'autocomplete:toggle'
    'alt-shift-i': 'core:select-up'
    'alt-shift-k': 'core:select-down'
    'alt-shift-u': 'editor:select-to-previous-word-boundary'
    'alt-b': 'fuzzy-finder:toggle-buffer-finder'
    'alt-shift-o': 'editor:select-to-next-word-boundary'
    'ctrl-n': 'application:new-file'
    'ctrl-o': 'advanced-open-file:toggle'
    'ctrl-g': 'core:cancel'
    'ctrl-1': 'markdown-writer:toggle-h1'
    'ctrl-2': 'markdown-writer:toggle-h2'
    'ctrl-3': 'markdown-writer:toggle-h3'
    'ctrl-4': 'markdown-writer:toggle-h4'
    'ctrl-5': 'markdown-writer:toggle-h5'
    'ctrl-f': 'find-and-replace:toggle'

# Markdown-Writer
# '.markdown-writer atom-text-editor[mini]':
    # 'shift-ctrl-k': 'markdown-writer:insert-link'
    # 'shift-ctrl-i': 'markdown-writer:insert-image'
    # 'ctrl-i': 'markdown-writer:toggle-italic-text'
    # 'ctrl-b': 'markdown-writer:toggle-bold-text'
    # 'ctrl-\'': 'markdown-writer:toggle-code-text'
    # 'ctrl-h': 'markdown-writer:toggle-strikethrough-text'

# Disable Enter key for confirming an autocomplete suggestion
'atom-text-editor:not(mini).autocomplete.active':
    'enter': 'editor:newline'

# Disable a key binding entirely
# 'body':
    # 'ctrl-alt-p': 'abort!'

'body':
    'alt-k': 'core:move-down'
    'alt-i': 'core:move-up'
    'ctrl-s': 'core:save'
    # 'ctrl-up': 'ctrl-dir-scroll:scroll-up-big'
    # 'ctrl-down': 'ctrl-dir-scroll:scroll-down-big'
    'ctrl-alt-,': 'ctrl-dir-scroll:scroll-up'
    'ctrl-alt-/': 'ctrl-dir-scroll:scroll-down'
    'ctrl-q': 'application:quit'

'atom-workspace atom-panel':
    'ctrl-g': 'tool-panel:unfocus'
    'ctrl-z': 'core:undo'
    'alt-k': 'core:move-down'
    'alt-i': 'core:move-up'
    'alt-s': 'core:focus-next'

'.advanced-open-file atom-text-editor':
    'alt-k': 'advanced-open-file:move-cursor-down'
    'alt-i': 'advanced-open-file:move-cursor-up'
